* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

.menu {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #0f1f19;
    height: 75px;
    align-items: center;
    box-shadow: 0 5px 15px 5px rgb(142, 182, 142);
}

.nav-deco {
    text-align: start;
    margin-left: -2%;
}

.navbar {
    text-align: end;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-left: 20%;
}

.btn {
    text-decoration: none;
    color: rgb(29, 117, 26);
    font-size: x-large;
    border-radius: 20px;
    padding: 1%;
    font-weight: bold;
}

.btn:hover {
    color: rgb(163, 207, 189);
}

.btn-hola {
    background-color: rgb(163, 207, 189);
    padding: 1% 5%;
    font-weight: bold;
}

.btn-hola:hover {
    color: #5f6e41;
}

.btn:active {
    box-shadow: 5px 3px 20px 3px rgb(178, 236, 181);
}

/* fin del menu, comienza seccion presentacion*/

.presentacion {
    width: 100%;
    display: flex;
    padding-bottom: 4%;
}

.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: rgb(72, 151, 96);
    padding-top: 40px;
}

.saludo {
    font-size: 30px;
    font-style: inherit;
    padding-top: 50px;
}

.hola {
    font-size: 40px;
    color: rgb(14, 107, 36);
}

.nombre {
    font-size: 50px;
    color: rgb(6, 123, 19);
    padding-top: 3%;
}

.descripcion {
    padding-top: 25px;
    font-size: 20px;
    padding-bottom: 20px;
}

.boton-info {
    border-radius: 30px;
    width: 120px;
    height: 42px;
    border-style: none;
    font-size: 10px;
    color: rgb(26, 48, 146);
    background-color: rgb(52, 172, 176);
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-info:active {
    box-shadow: 5px 3px 20px 3px rgb(161, 242, 241);
}

.boton-info:hover {
    color: rgba(37, 81, 85, 0.69);
}

.deco {
    width: 45%;
    margin-top: 5%;
}

.img-portada {
    width: 50%;
    padding-top: 50px;
}

.foto {
    padding-top: 20%;
    width: 80%;
}

/* fin seccion presentacion - inicio seccion conocimientos*/

.mconocimientos {
    background-color: rgb(249, 239, 221);
    text-align: center;
    padding: 3%;
    padding-bottom: 5%;
}

.titulo-conocimientos {
    font-size: 3em;
    margin-top: 4%;
}

.iniciando {
    font-size: 1.5em;
}

.iconos {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
}

.iconitos {
    width: 25%;
    background-color: rgb(212, 245, 216);
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4% 2%;
    border: solid 2px rgb(70, 37, 25);
    border-radius: 14px;
}

.img-iconitos {
    width: 30%;
    margin-bottom: 8%;
}

.iconitos:hover {
    border-color: coral;
    color: cadetblue;
}

/* fin de seccion conocimientos - inicio seccion comillas*/

.comillas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4b8748;
    padding-top: 5%;
    padding-bottom: 8%;
}

.signo {
    text-align: center;
    font-size: 85px;
    margin-bottom: 5%;
    color: rgb(52, 107, 47);
}

.frase {
    font-size: 2em;
    padding-bottom: 2%;
}

.autor {
    padding-top: 2%;
    font-size: 2.1em;
    font-weight: bold;
}

.deco-dos {
    width: 40%;
    margin-top: 5%;
    padding-left: 30%;
}

.division {
    display: flex;
}

/* fin de seccion comillas -inicio seccion proyectos*/

.mproyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 239, 221);
    padding-bottom: 10%;
    padding-top: 3%;
    border-style: none;
    font-size: 20px;
}

.titulo-proyectos {
    font-size: 38px;
    margin-top: 4%;
}

.subtitulo {
    display: flex;
    padding: 2%;
    font-size: 20px;
}

.proyectos {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iconos-grandes {
    width: 25%;
    border: solid 2px rgb(70, 37, 25);
    background-color: #fff;
    padding: 1%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    color: darkolivegreen;
    font-size: 0.5em;
}

.iconos-grandes:hover {
    border-color: rgb(1, 130, 42);
    color: cadetblue;
}

.img-iconos {
    width: 90%;
    margin: auto;
}

.titulo-card {
    text-align: center;
}

/* fin seccion proyectos - inicio seccion contacto */

.cformulario {

    justify-content: center;
    align-items: center;
    background-color: #ecf6ed90;
    padding: 8%;
}

.contact {
    display: flex;
    width: 80%;
    background-color: #cdf7de48;
    margin: auto;
    border-radius: 25px;
}

.contactame {
    width: 50%;
    padding: 2%;
    padding-bottom: 1%;
}

.titulo-contactame,
.titulo-escribime {
    font-size: 3em;
}

.poema {
    margin: 7% 0%;
    font-size: 1.4em;
    color: #5450a1;
}

.contactame-text {
    margin-bottom: 10%;
    font-size: 1.6em;
    text-decoration: underline;
    color: #2f5d6b;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.items-contacto {
    margin: 6% 0%;
}

.hover-item-contact {
    font-size: 1.5em;
    color: #8c55ec;
}

.icono-contacto {
    color: rgb(63, 107, 179);
    padding: 1%;
}

.hover-item-contact:hover .icono-contacto {
    background-color: #9db1d5;
    color: rgb(207, 243, 168);
    border: solid;
    border-radius: 30px;
    padding: 1%;
}

.hover-item-contact:hover {
    color: #556b2f;
}

input,
textarea {
    font-size: 0.7em;
    border-radius: 7px;
    padding-left: 3%;
}


.escribir {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
}

.contenedor-nombre {
    display: flex;
    margin-bottom: 2%;
}

.nombre-form,
.apellido-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
}

.input-nombre,
.input-apellido {
    width: 80%;
}

.contenedor-mail {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    margin-bottom: 1%;
}

.e-mail {
    width: 91%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.texto {
    width: 91%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.btn-enviar {
    background-color: rgb(100, 180, 151);
    border-radius: 30px;
    width: 95px;
    height: 30px;
    border-style: none;
    font-size: 1.5em;
    color: rgb(26, 48, 146);
    font-weight: bold;
}

.btn-enviar:hover {
    background-color: cadetblue;
}


/* fin seccion contacto - inicio seccion footer */

.footer {
    background-image: linear-gradient(180deg, #b3fbb9df 0, #9fffe5 16.67%, #c1fcc6 33.33%, #9df2d3 50%, #9be4bd 66.67%, #92d8b7 83.33%, #416e47 100%);
}

.botones-footer {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: auto;
    padding: 1% 0%;
}

.iconos-footer {
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin: auto;
    padding: 1% 0%;
}

.icono-footer {
    font-size: 2em;
}

.corazon {
    margin: auto;
    text-align: center;
    padding-bottom: 1%;
    font-size: 1.3em;
}


.hover-item-footer {
    color: #556b2f;
    transition-duration: 0.8s;
    padding: 3%;
    font-size: 1em;
    border-radius: 50%;
}

.hover-item-footer:hover {
    color: #55a5ec;
    background-color: #b9d1ca;
    border-radius: 50px;
    transform: rotateY(380deg);
}

@media screen and (max-width: 1100px) and (min-width: 110px) {
    .menu {
        display: none;
    }

    .presentacion {
        display: flex;
        flex-direction: column;
    }

    .portada,
    .img-portada {
        width: 100%;
        text-align: center;
    }

    .foto {
        width: 50%;
    }

    .cformulario {
        padding: 4%;
    }
}

@media screen and (max-width: 850px) and (min-width: 480px) {
    .frase {
        font-size: 1.5em;
    }

    .cformulario {
        padding: 4% 2%;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contactame,
    .escribir {
        width: 100%;
        text-align: center;
    }

    .botones-footer {
        width: 100%;
    }
}

@media screen and (max-width: 479px) and (min-width: 100px) {
    .iconitos {
        width: 35%;
    }

    .frase {
        font-size: 1.2em;
        text-align: center;
    }

    .cformulario {
        padding: 4% 2%;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contactame,
    .escribir {
        width: 100%;
        text-align: center;
    }

    .botones-footer {
        display: none;
    }
}